html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 128px;
  height: 128px;
  margin: 0 auto;
  display: block;
}

#product-id-input {
  width: 200px;
  height: 30px;
  border-radius: 4px;
  border: 1px solid #dfe1e5;
  padding: 0 10px;
  margin: 0;
}
:focus {
  outline: none;
}

.app-button {
  height: 32px;
  background: #3498db;
  border-radius: 4px;
  color: #fff;
  border: 0;
}

.intro-text {
  text-align: center;
  font-size: 11px;
  color: grey;
}

.success-text {
  background: #19e66f;
  padding: 5px;
  color: white;
  border-radius: 4px;
  font-size: 12px;
  border: 1px solid #02d259;
  text-align: center;
}

.error-text {
  background: #e74c3c;
  padding: 5px;
  color: white;
  border-radius: 4px;
  font-size: 12px;
  border: 1px solid #bd1100;
  text-align: center;
}

input:valid {
  background: url(./assets/correct.png);
  background-size: 14px;
  background-repeat: no-repeat;
  background-position: center right 5px;
}
